html {
  font-family: sans-serif;
}

body {
  margin: 3em;
}

label {
  color: #888;
}

input, button {
  font-size: 100%;
}

input {
  width: 5em;
  margin: 0 1em 0 0;
}

.month-picker {
  font-size: 1.25em;
}
