.month-picker a {
  text-decoration: none;
}

.month-picker .spin-year,
.month-picker .years {
  display: inline-block;
  width: 3em;
  text-align: center;
}

.month-picker .spin-year {
  background-color: #333;
  color: #999;
  padding: .2em 0;
}

.month-picker .spin-year a:hover {
  color: white;
}

.month-picker .spin-year.up {
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}

.month-picker .spin-year.down {
  border-bottom-left-radius: .2em;
  border-bottom-right-radius: .2em;
}

.month-picker .selected {
    background-color: #2A8FBD;
    border-radius: 3px;
    box-shadow: inset 0 0 .35em #333;
    color: white !important;
    text-shadow: 0 -1px 0 black !important;
}

.month-picker .years,
.month-picker .months {
  height: 6em;
}

.month-picker .years {
  background-color: #333;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#333333), color-stop(.45,#555), color-stop(.55,#555));
  text-shadow: 0 -1px 0 black;
  float: left;
  overflow: hidden;
}

.month-picker .years a {
  color: #999;
  display: block;
  height: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
}

.month-picker .years a:hover {
  color: white;
}

.month-picker .months {
    background-color: #eee;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 .5em #777;
    display: inline-block;
}

.month-picker .months .group {
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.month-picker .months a {
    color: #666;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 0 white;
    width: 3em;
}

.month-picker .months a:hover {
    color: #2A8FBD;
}
